  /*----------about-start------------*/
  /*.about-us .about-image-wrap.d-flex.align-items-center {
    gap: 0 20px;
  }*/
  .about-us .about-content-wrap .heading {
    width: 62%;
    margin-left: 0;
  }
  .about-us .about-img img {
    width: 100%;
  }
  .about-us .about-content-wrap {
    padding-left: 62px;
  }
  .about-us .about-custom-button {
    margin-top: 35px;
  }
  .about-us .custom-heading {
    margin-bottom: 15px;
  }

  .about-us {
    background-image: url(../images/about-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .about-us .about-img {
    position: relative;
  }
  .about-image-wrap.d-flex.align-items-center {
    gap: 0 15px;
  }
  .about-us .about-image-small {
    position: absolute;
    left: -100px;
    top: 255px;
    bottom: 200px;
  }
  /*----------about-end------------*/
  /*---------the-best-start--------*/
  .the-best .best-img-video {
    display: inline-flex;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(84,124,172,0.8);
    width: 348px;
    height: 100px;
  }
  .the-best .best-img-video h4 {
    color: var(--c-white-900);
    font-family: var(--ff-primary);
    font-size: 28px;
    padding-top: 20px;
    cursor: pointer;
  }
  .the-best .best-img-video h4 span {
    display: inline-flex;
    height: 60px;
    width: 60px;
    background-color: var(--c-white-900);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: var(--c-primary);
    margin-left: 24px;
  }
  .the-best .custom-heading {
    margin-bottom: 20px;
  }
  .the-best .the-best-custom-button {
    margin-top: 35px;
  }
  .the-best .the-best-content-wrap {
    padding-right: 50px;
    padding-top: 25px;
  }
  .best-img{
    position: relative;
  }
  .best-img img{
    width: 100%;
  }
  .the-best .best-img-video img {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: auto;
  }
  .client-video .modal-dialog {
    max-width: 80%;
  }
  .client-video .modal-body {
    width: 100%;
  }
  .client-video .modal-body iframe {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
  /*---------the-best-end--------*/
  /*---------cta-start-----------*/
  .cta{
    background-image: url(../images/professional-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  .cta .custom-button-alt {
    margin-top: 35px;
  }

   /*---------cta-end-----------*/
  /*----------gallery-start--------*/
  .gallery .gallery-content-wrap .heading {
    width: 62%;
  }
  .gallery {
    text-align: center;
  }
  .gallery .gallery-custom-img img {
    width: 100%;
  }
  .gallery .custom-heading {
    margin-bottom: 60px;
  }
  .gallery .gallery-custom-button {
    margin-top: 60px;
  }
  /*----------gallery-end--------*/
  /*----------specialties-start-----------*/
  .specialties {
    text-align: center;
    background-color: var(--c-white-800);
  }
  .specialties .custom-heading {
    margin-bottom: 60px;
  }
  .specialties .specialties-img-wrap .special-img {
    display: inline-flex;
    justify-content: center;
    background-color: var(--c-white-900);
    padding: 40px;
    border-radius: 50%;
    height: 140px;
    width: 140px;
  }
  .specialties .specialties-heading h4{
    font-size: 21px;
    line-height: 35px;
    font-family: var(--ff-primary);
    color: var(--c-black-700);
  }
  .specialties .specialties-paragraph p {
    color: var(--c-grey-800);
    font-size: 15px;
    line-height: 31px;
    padding: 20px 0 30px 0;
  }
  .specialties .specialties-custom-button {
    font-size: 14px;
    color: var(--c-primary);
    font-family: var(--ff-primary);
    font-weight: 400;
    text-transform: capitalize;
  }
  .specialties .specialties-img-wrap {
    padding-bottom: 40px;
  }
  .specialties .specialties-button span {
    padding-left: 10px;
    color: var;
  }
  .specialties .specialties-heading {
    padding: 0 82px;
  }
  .specialties .specialties-paragraph {
    padding: 0 38px;
    min-height: 174px;
  }
  .specialties .specialties-content-wrap {
    position: relative;
    min-height: 446px;
    }
  .specialties .specialties-content-wrap::after {
      content: '';
      position: absolute;
      top: 0;
      right: -10px;;
      height: 95%;
      width: 1px;
      background-color: var(--c-white-700);
    }
  .specialties [class*="col-"]:last-child .specialties-content-wrap::after {
      display: none;
    }
    .specialties .specialties-paragraph.sll {
      padding: 0 43px;
      min-height: 174px;
    }
  /*----------specialties-end-----------*/
  /*----------client-photo-start-----------*/
  .client-gallery {
    text-align: center;
  }
  .client-gallery .custom-heading {
    margin-bottom: 60px;
  }
  .client-gallery .client-gallery-custom-button {
    margin-top: 55px;
  }
  .client-gallery .custom-tab-button .nav-tabs {
    border: none;
    padding-bottom: 60px;
    justify-content: center;
  }
  .client-gallery .custom-tab-button .nav-tabs .nav-link.active {
    background-color: var(--c-primary);
    color: var(--c-white-900);
  }
  .client-gallery .custom-tab-button .nav-tabs .nav-link {
    border: none;
    font-family: var(--ff-secondary);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 0;
    background-color: transparent;
    color: var(--c-black-700);
  }
  .client-gallery .custom-imglist [class*="col-"] {
    padding: 12px 6px;
    display: none;
  }
  .client-gallery .custom-imglist .work-sample-link img {
    width: 100%;
    transition: all 0.8s ease-in-out;
    height: 280px;
    object-fit: cover;
  }
  .client-gallery .custom-imglist .work-sample-link:hover img{
    transform: scale(1.05);
  }
  .custom-imglist .work-sample-link {
    display: block;
    overflow: hidden;
    margin: 0 10px;
  }
  /*----------client-photo-end-----------*/
  /*-------------------faq-start-------------------*/
  .faq .custom-heading {
    text-align: center;
    margin-bottom: 60px;
  }
  .faq .faq-accordion .accordion-item {
    border: 0;
  }
  .faq .faq-accordion .accordion-item .accordion-header {
    box-shadow: -4px 4px 18.6px 4.4px rgba(236, 236, 236, 0.75);
    margin-bottom: 16px;
  }
  .faq .faq-accordion .accordion-button:focus {
    background-color: transparent;
    font-family: var(--ff-primary);
    font-size: 24px;
    padding: 24px;
    color: var(--c-primary);
  }
  .faq .accordion-button.collapsed {
    font-family: var(--ff-primary);
    font-size: 24px;
    padding: 24px;
  }
  .accordion-button:not(.collapsed) {
    font-family: var(--ff-primary);
    font-size: 24px;
    color: var(--c-primary);
    background-color: var(--c-white-900);
    box-shadow: none;
  }
  .faq  .faq-accordion .accordion-item .accordion-button::after {
  flex-shrink: 0;
  width: 47px;
  height: 43px;
  margin-left: auto;
  content: "+";
  background-image: none;
  transition: all .2s ease-in-out;
  color: var(--c-white-900);
  background-color: var(--c-primary);
  text-align: center;
  font-size: 30px;
  line-height: 42px;
}
.faq .faq-accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "-";
  transform: rotate(0deg);
}
/*-------------------faq-end-------------------*/
/*------------------services-start--------------*/
.services .card-body {
  text-align: center;
}
.services .card-body p {
  padding: 10px 0;
}


/*------------------services-end--------------*/

/*----------Responsive-Start------------*/
@media (min-width: 1920px) and (max-width: 2500px){
	
}

@media (min-width: 1600px) and (max-width: 1920px){
	
}

@media (min-width: 1366px) and (max-width: 1600px){
  /*-------about-start---------*/
  .about-us .about-content-wrap .heading {width: 70%;}
  .about-image-wrap.d-flex.align-items-center {padding-left: 70px;}
  .about-us .about-content-wrap {padding-left: 30px;}
  /*-------about-end---------*/
  /*-------specialties-start---------*/
  .specialties .specialties-paragraph {padding: 0 12px;}
  .specialties .specialties-heading {padding: 0 80px;}
  .specialties .specialties-paragraph.sll {padding: 0 20px;}
	/*-------specialties-end---------*/
  /*---------the-best-start----------*/
  .the-best .the-best-content-wrap {padding-right: 10px;}
  /*---------the-best-end----------*/
}
@media (min-width: 1200px) and (max-width: 1366px){
  /*-------about-start---------*/
  .about-us .about-content-wrap .heading {width: 85%;}
  .about-image-wrap.d-flex.align-items-center {padding-left: 70px;}
  .about-us .about-content-wrap {padding-left: 30px;}
  .about-us .about-image-small {position: absolute;left: -90px;top: 150px;}
  /*-------about-end---------*/
  /*-------specialties-start---------*/
  .specialties .specialties-paragraph {padding: 0 19px;}
  .specialties .specialties-heading {padding: 0 34px;}
	/*-------specialties-end---------*/
  /*---------the-best-start----------*/
  .the-best .the-best-content-wrap {padding-right: 10px;}
  .the-best .the-best-image-wrap {padding-top: 120px;}
  /*---------the-best-end----------*/
}

@media (min-width: 1024px) and (max-width: 1200px){
  /*-------about-start---------*/
  .about-us .about-content-wrap .heading {width: 100%;}
  .about-image-wrap.d-flex.align-items-center {padding-left: 70px;padding-top: 200px;}
  .about-us .about-content-wrap {padding-left: 30px;}
  .about-us .about-image-small {position: absolute;left: -90px;top: 150px;}
  /*-------about-end---------*/
  /*-------specialties-start---------*/
  .specialties .specialties-paragraph {padding: 0 19px;}
  .specialties .specialties-heading {padding: 0 34px;}
	/*-------specialties-end---------*/
  /*---------the-best-start----------*/
  .the-best .the-best-content-wrap {padding-right: 0;}
  /*---------the-best-end----------*/
	
}

@media (min-width: 992px) and (max-width: 1024px) {
  /*-------about-start---------*/
  .about-us .about-content-wrap .heading {width: 100%;}
  .about-image-wrap.d-flex.align-items-center {padding-left: 70px;padding-top: 200px;}
  .about-us .about-content-wrap {padding-left: 30px;}
  .about-us .about-image-small {position: absolute;left: -90px;top: 150px;}
  /*-------about-end---------*/
  /*-------specialties-start---------*/
  .specialties .specialties-content-wrap{padding-bottom: 40px;}
  .specialties .specialties-content-wrap::after{height: 80%;}
  .specialties [class*="col-"]:nth-child(2) .specialties-content-wrap::after {display: none;}
  .specialties .specialties-button {margin-top: -20px;}
  /*-------specialties-end---------*/
  /*---------the-best-start----------*/
  .the-best .the-best-content-wrap {padding-right: 0;}
  .the-best .the-best-image-wrap {padding-top: 200px;}
  .the-best .best-img-video{width: 300px;}
  /*---------the-best-end----------*/
	
}

@media only screen and (max-width: 991.98px) {
  /*-----------about-start------------*/
  .about-us .about-image-small{left: -27px;}
  .about-us {text-align: center;}
  .about-us .about-content-wrap {padding-left: 0;}
  .about-us .about-content-wrap .heading {width: 100%;}
  .about-us .custom-heading {margin-bottom: 30px;}
  .about-us .custom-heading .sub-heading{margin-bottom: 0;margin-top: 20px;}
  /*-----------about-end------------*/
  /*-------specialties-start---------*/
  .specialties .specialties-content-wrap{padding-bottom: 40px;}
  .specialties .specialties-content-wrap::after{height: 80%;}
  .specialties [class*="col-"]:nth-child(2) .specialties-content-wrap::after {display: none;}
  .specialties .custom-heading {margin-bottom: 30px;}
  .specialties .specialties-paragraph.sll {padding: 0;min-height: auto;}
  .specialties .specialties-paragraph {padding: 0;min-height: auto;}
  
  /*-------specialties-end---------*/
  /*---------the-best-start----------*/
  .the-best {text-align: center;}
  .the-best .the-best-content-wrap {padding-right: 0;padding-top: 0;padding-bottom: 40px;}
  .the-best .custom-heading {margin-bottom: 30px;margin-top: 20px;}
  /*---------the-best-end----------*/
  /*---------gallery-start----------*/
  .gallery .gallery-content-wrap .heading {width: 100%;}
  .gallery .custom-heading {margin-bottom: 30px;}
  .gallery .gallery-custom-button {margin-top: 30px;}
  /*---------gallery-end----------*/
  /*---------cta-start------------*/
  .cta{background-position: center right;}
  /*---------cta-end------------*/
  /*------------------client-gallery-start------------------*/
  .client-gallery .client-gallery-custom-button {margin-top: 30px;}
  .client-gallery .custom-heading {margin-bottom: 30px;}
  .client-gallery .custom-tab-button .nav-tabs {padding-bottom: 30px;}
  /*------------------client-gallery-end------------------*/
  /*------------------faq-start-----------------------*/
  .faq .faq-accordion .accordion-button:focus {font-size: 20px;}
  .faq .accordion-button.collapsed {font-size: 20px;}
  .accordion-button:not(.collapsed) {font-size: 20px;}
  /*------------------faq-end-----------------------*/
  /*-----------------service-start------------------*/
  .services .card {margin-bottom: 10px;}
  .services .custom-heading {
    text-align: center;
  }
  /*-----------------service-end------------------*/    
}


@media (max-width: 767.98px){
  /*-----------about-end------------*/
  .specialties .specialties-content-wrap::after {display: none;}
  /*-----------about-end------------*/
  /*---------gallery-start----------*/
  .gallery-custom-img {padding-bottom: 10px;}
  /*---------gallery-end----------*/
  /*-------specialties-start---------*/
  .specialties .specialties-button {margin-top: 10px;}
  .specialties .specialties-content-wrap{min-height: auto;margin-bottom: 25px;}
  .specialties .custom-heading {margin-bottom: 60px;}
  /*-------specialties-end---------*/
  /*----------the-best-start-----------*/
  .the-best .best-img-video{width: 250px;height: 80px;}
  .the-best .best-img-video h4{font-size: 24px;padding-top: 20px;}
  .the-best .best-img-video h4 span{height: 40px;width: 40px;margin-left: 10px;}
  /*----------the-best-end-----------*/
  
}

@media (max-width: 575.98px){
  /*-----------about-start------------*/
  .about-us .about-image-small {  left: -20px;top: 130px;}
  .specialties .specialties-heading {padding: 0 43px;}
  .specialties .specialties-button {margin-top: 0;}
  /*-----------about-end------------*/
  .the-best .best-img-video img{width: 100%;}
  .about-us .custom-heading {margin-bottom: 15px;}
  .the-best .custom-heading {margin-bottom: 15px;}
  .gallery .custom-heading {margin-bottom: 15px;}
  /*------------------client-gallery-start------------------*/
  .client-gallery .client-gallery-custom-button {margin-top: 20px;}
  .client-gallery .custom-heading {margin-bottom: 20px;}
  .client-gallery .custom-tab-button .nav-tabs {padding-bottom: 20px;}
  /*------------------client-gallery-end------------------*/
  /*----------the-best-start-----------*/
  .the-best .best-img-video {width: 200px;height: 60px;}
  .the-best .best-img-video h4 {font-size: 20px;padding-top: 10px;}
  /*----------the-best-end-----------*/
    /*------------------faq-start-----------------------*/
    .faq .faq-accordion .accordion-button:focus {font-size: 16px;}
    .faq .accordion-button.collapsed {font-size: 16px;}
    .accordion-button:not(.collapsed) {font-size: 16px;}
    /*------------------faq-end-----------------------*/  
}

@media only screen and (max-width: 480.98px) {	
    
}
/*----------Responsive-End------------*/
