
/*-------custom-heading-start----------*/
.sub-heading {
    font-size: 14px;
    color: var(--c-primary);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 56px;
    word-spacing: 2px;
    font-family: var(--ff-secondary);
    margin-bottom: 10px;
  }
.heading {
    font-size: 45px;
    font-weight: 400;
    line-height: 66px;
    color: var(--c-black-700);
  }
  .custom-button{
    background-color: var(--c-primary);
    color: var(--c-white-900);
    padding: 0 67px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
    border: 2px solid var(--c-primary);
    transition: all 0.3s ease-in-out;
    height: 52px;
    align-items: center;
  }
.custom-button:hover{
    background-color: var(--c-white-900);
    color: var(--c-primary);
  }
  /*-------custom-heading-end----------*/

  /*----------about-start------------*/
  .about-us .about-image-wrap.d-flex.align-items-center {
    gap: 0 20px;
  }
  .about-us .about-img img {
    width: 100%;
  }
  .about-us .about-content-wrap {
    padding-left: 44px;
    padding-bottom: 8px;
  }
  .about-us .about-custom-button {
    margin-top: 35px;
  }
  .about-us .custom-heading {
    margin-bottom: 15px;
  }
  .about-us .about-content-wrap .custom-paragraph p:nth-child(2) {
    padding: 15px 0;
  }
  .about-us .custom-paragraph p {
    color: var(--c-grey-800);
  }
  .about-us {
    background-image: url(../images/about-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .about-us .about-img {
    position: relative;
  }
  .about-us .about-image-small {
    position: absolute;
    left: -100px;
    top: 255px;
    bottom: 200px;
  }
  /*----------about-end------------*/
  /*---------the-best-start--------*/
  .the-best .the-best-content-wrap .custom-paragraph p:nth-child(2) {
    padding: 15px 0;
  }
  .the-best .the-best-content-wrap .custom-paragraph p:nth-child(3) {
    padding: 0 0 15px 0;
  }
  .the-best .custom-paragraph p {
    color: var(--c-grey-800);
  }
  .the-best .custom-heading {
    margin-bottom: 15px;
  }
  .the-best .the-best-custom-button {
    margin-top: 35px;
  }
  .the-best .the-best-content-wrap {
    padding-right: 22px;
  }
  .the-best .the-best-image-wrap {
    padding-left: 30px;
  }
  /*---------the-best-end--------*/
  /*---------cta-start-----------*/
  .cta{
    background-image: url(../images/professional-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  .cta .cta-custom-button {
    margin-top: 35px;
  }
  .cta .sub-heading{
    color: var(--c-white-800);
  }
  .cta .heading{
    color: var(--c-white-800);
  }
  .cta .custom-button{
    background-color: var(--c-white-800);
    color: var(--c-primary);
    border: 2px solid var(--c-white-800);
  }
  .cta .custom-button:hover{
    background-color: var(--c-primary);
    color: var(--c-white-800);
    border: 2px solid var(--c-primary);
  }
   /*---------cta-end-----------*/


/*----------Responsive-Start------------*/
@media (min-width: 1920px) and (max-width: 2500px){
	
}

@media (min-width: 1600px) and (max-width: 1920px){
	
}

@media (min-width: 1200px) and (max-width: 1600px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    

}


@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}

@media only screen and (max-width: 480.98px) {	
    
}
/*----------Responsive-End------------*/
