/* HEADER SECTION */
.header-top {
  border-bottom: 1px solid var(--c-white-700);
  padding: 24px 0;
  overflow-y: hidden;
}
.header-top_right li {
  padding: 0 30px 0;
  margin: 0;
  position: relative;
}
.header-top_right li:last-child {
  padding-right: 0;
}
.header-top_right li:first-child {
  width: 40%;
}
.header-top_right li:not(:last-child):after {
  content: '';
  width: 1px;
  height: 103px;
  background-color: var(--c-white-700);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.header-top_right-link {
  position: relative;
  padding-left: 40px;
  color: var(--c-primary);
}
.header-top_right-link > * {
  margin: 0;
}
.header-top_right-link span {
  font-size: 25px;
  display: inline-flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 4px;
  top: 30%;
  transform: translateY(-50%);
}
.header-top_right-link h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}
.header-top_right-link p {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  color: var(--c-black-700);
}

.header-nav {
  padding: 20px 0;
}
.header-nav .navbar-nav {
  gap: 0 80px;
}
.header-nav_link {
  color: var(--c-black-700);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  line-height: 56px;
  padding: 0 !important;
  position: relative;
}
.header-nav_link:hover  {
  color: var(--c-primary);
}
.header-nav_link::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 0px;
  background-color: var(--c-primary);
  bottom: -20px;
  left: 8px;
  right: 0;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  transition: all 0.5s ease-in-out;
}
.header-nav_link::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 0;
  background-color: var(--c-blue-alt);
  bottom: -20px;
  left: 0;
  right: 8px;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  transition: all 0.5s ease-in-out;
}
.header-nav_link:hover::after  {
  height: 25px;
}
.header-nav_link:hover::before  {
  height: 18px;
}

/* BANNER SECTION */
.custom-banner  {
  position: relative;
}
.custom-banner .carousel-item img {
  min-height: 650px;
  object-fit: cover;
  object-position: center;
}
.custom-banner_content {
  text-align: left;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: unset;
}
.custom-banner_content h2 {
  color: var(--c-black-700);
  font-size: 55px;
  line-height: 76px;
  font-weight: 400;
  width: 59%;
  margin-left: 0;
  margin-bottom: 25px;
}
.custom-banner_content p {
  font-size: 20px;
  line-height: 29px;
  color: var(--c-blue-600);
  margin-bottom: 40px;
}

/* CONTACT SECTION */
.custom-contact {
  overflow: hidden;
}
.contact-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.contact-top_content {
  padding-left: 47px;
}
.contact-top_content-title h3 {
  color: var(--c-white-900);
  font-size: 26px;
  text-transform: capitalize;
  line-height: 66px;
}
.contact-top_content-link a {
  color: #abcbf2;
  font-size: 75px;
  font-family: var(--ff-primary);
  display: inline-block;
}
.contact-top_content-btn {
  margin-top: 20px;
}
.contact-top_content-btn .custom-button:hover {
  background-color: var(--c-white-900);
  color: var(--c-primary);
  border-color: var(--c-white-900);
}

.contact-bottom {
  background-color: #e8ebed;
  max-height: 685px;
  position: relative;
}
.contact-bottom_form {
  background-color: var(--c-white-900);
  position: relative;
  top: -38%;
  width: 509px;
  margin-left: 0;
}
.contact-bottom_form-title {
  background-color: var(--c-primary);
  color: var(--c-white-900);
  text-align: center;
  padding: 33px 0;
}
.contact-bottom_form-title h3 {
  font-size: 26px;
  line-height: 39px;
  text-transform: capitalize;
  width: 78%;
}

.contact-bottom_form-main {
  padding: 37px 40px 50px;
  box-shadow: 0px 100px 100px 0px rgba(205, 205, 205, 0.75)
}
.contact-bottom_form-main p {
  text-align: center;
  color: var(--c-grey-800);
  font-size: 15px;
  line-height: 30px;
  width: 86%;
  margin: 0 auto;
}
.contact-bottom_form-main form {
  margin-top: 10px;
}
.contact-bottom_form-main form .form-label {
  text-transform: capitalize;
  font-size: 16px;
  font-family: var(--ff-primary);
  line-height: 30px;
  padding-bottom: 5px;
}
.contact-bottom_form-main form .form-control, .contact-bottom_form-main form .form-select {
  border-radius: 0;
  height: 54px;
  padding-left: 1rem;
  border-color: #dcdcdc ;
  color: var(--c-grey-800);
}
.contact-bottom_form-main form .form-select {
  background-color: #f5f5f5;
}
.contact-bottom_form-main form .form-control:focus, .contact-bottom_form-main form .form-select:focus {
  color: var(--c-blue-600);
  background-color: transparent;
  border-color: var(--c-primary);
  outline: 0;
  box-shadow: none;
}
.contact-bottom_form-main form .custom-button {
  margin-top: 10px;
  width: 100%;
}

.contact-bottom_list {
  margin-left: 44px;
  margin-top: 80px;
}
.contact-bottom_list li {
  font-size: 18px;
  font-weight: 500;
  color: #4e4e4e;
  line-height: 37px;
  padding-left: 36px;
  position: relative;
}
.contact-bottom_list li:not(:last-child) {
  margin-bottom: 28px;
}
.contact-bottom_list li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  position: absolute;
  left: 0;
  font-size: 22px;
  top: 1px;
  color: #abcbf2;
}


/* FOOTER SECTION */
.footer-top {
  padding: 120px 0 46px;
}
.footer_col-content p {
  color: var(--c-grey-800);
  margin-top: 30px;
  padding-right: 100px;
}
.footer_col-content .footer_link {
  font-size: 17px;
  line-height: 38px;
  color: var(--c-grey-800);
}
.footer_col-title {
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}
.footer_col-title::before {
  position: absolute;
  content: '';
  width: 56px;
  height: 1px;
  background-color: var(--c-primary);
  left: 0;
  bottom: 0;
}
.footer_col-title::after {
  position: absolute;
  content: '';
  width: 56px;
  height: 1px;
  background-color: var(--c-primary);
  left: 0;
  bottom: -4px;
}
.footer_col-title .title {
  font-family: var(--ff-primary);
  font-size: 20px;
  color: var(--c-black-800);
}
.footer_col-location {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.footer_link {
  position: relative;
}
.footer_col-location .footer_link {
  padding-left: 25px;
  color: var(--c-primary);
}
.footer_col-location .footer_link span {
  position: absolute;
  left: 0;
  font-size: 16px;
  top: 3px;
}
.footer_col-location .footer_link .title {
  color: var(--c-blue-alt);
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
}
.footer_col-location .footer_link .text {
  font-size: 16px;
  color: var(--c-grey-800);
  line-height: 28px;
}
.footer_col-socials {
  display: flex;
  gap: 0 20px;
}
.footer_col-socials li  {
  margin: 0;
}
.footer_col-socials li a {
  color: var(--c-primary) !important;
}
.footer-copy {
  border-top: 1px solid var(--c-white-700);
  padding: 17px 0;
}
.footer-copy .footer_copyright p {
  font-size: 16px;
  color: var(--c-grey-800);
}

@media (min-width: 1920px) and (max-width: 2500px){
	
}

@media (min-width: 1600px) and (max-width: 1920px){
	
}

@media (min-width: 1300px) and (max-width: 1400px){
/* fdev-sb */
.header-nav .navbar-nav {gap: 0 60px;}

.custom-banner .carousel-item img {min-height: 600px;}

.contact-bottom [class*="offset-"] {margin-left: 2%;}
.contact-bottom [class*="col-"]:nth-child(2) {margin-left: 0;}
.contact-bottom_list {margin-left: 0;}
.contact-top_content {padding-left: 0;}

.footer_col-content p {padding-right: 20px;}
/* fdev-sb */
}
@media (min-width: 1200px) and (max-width: 1300px){
/* fdev-sb */  
.header-nav .navbar-nav {gap: 0 48px;}

.custom-banner .carousel-item img {min-height: 550px;}

.contact-bottom [class*="offset-"] {margin-left: 2%;}
.contact-bottom [class*="col-"]:nth-child(2) {margin-left: 0;}
.contact-bottom_list {margin-left: 38px;}
.contact-top_content {padding-left: 0;}
.contact-bottom {max-height: 670px;}

.footer_col-content p {padding-right: 20px;}
/* fdev-sb */
}

@media (min-width: 1024px) and (max-width: 1200px){


/* fdev-sb */
.header-top_left .logo {height: 45px;}
.header-nav {padding: 15px 0;}
.header-nav .navbar-nav {gap: 0 30px;}

.custom-banner .carousel-item img {min-height: 500px;}
.custom-banner_content h2 {font-size: 42px;line-height: 60px;margin-bottom: 12px;}
.custom-banner_content p {font-size: 18px;margin-bottom: 25px;}

.contact-top_content {padding-left: 35px;}
.contact-top_content-link a {font-size: 68px;}
/* .contact-bottom {max-height: 656px} */
.contact-bottom_form {top: -30%;width: unset;margin-left: 15px;}
.contact-bottom_form-main form .form-control, .contact-bottom_form-main form .form-select {height: 46px;}
.contact-bottom_list {margin-left: 34px;margin-top: 50px;}
.contact-bottom_list li {font-size: 17px;line-height: 30px;}
.contact-bottom_list li:not(:last-child) {margin-bottom: 15px;}
/* .contact-bottom [class*="offset-"] {margin-left: 25px;} */

.footer-top {padding: 80px 0 36px;}
.footer_col-content p {padding-right: 0;font-size: 15px;line-height: 28px;}
.footer_col-title .title {font-size: 18px;}
.footer_col-content .footer_link {font-size: 15px;line-height: 30px;}
.footer_col-location .footer_link .text {font-size: 14px;line-height: 24px;}
.footer-copy {padding: 14px 0;}
.footer-copy .footer_copyright p {font-size: 14px;}
/* fdev-sb */
}

@media (min-width: 992px) and (max-width: 1024px) {

/* fdev-sb */
.header-top {padding: 20px 0;}
.header-top_left .logo {height: 40px;}
.header-top_right li {padding: 0 20px 0;}
.header-top_right li:first-child {width: 33%;}
.header-top_right li:not(:last-child)::after {height: 80px;}
.header-top_right-link {padding-left: 30px;}
.header-top_right-link span {font-size: 16px;}
.header-top_right-link h6, .header-top_right-link p {font-size: 14px;line-height: 20px;}
.header-nav {padding: 15px 0;}
.header-nav .navbar-nav {gap: 0 30px;}
.header-nav_link {font-size: 14px;line-height: 46px;}

.custom-banner .carousel-item img {min-height: 500px;}
.custom-banner_content h2 {font-size: 42px;line-height: 60px;margin-bottom: 12px;}
.custom-banner_content p {font-size: 18px;margin-bottom: 25px;}

.contact-top_content {padding-left: 35px;}
.contact-top_content-link a {font-size: 62px;}
.contact-top_content-title h3 {font-size: 24px;line-height: 40px;}
.contact-top_content-btn {
  margin-top: 6px;
}
.contact-bottom {max-height: 600px;}
.contact-bottom_form {top: -30%;width: 490px;}
.contact-bottom_form-main form .form-control, .contact-bottom_form-main form .form-select {height: 44px;}
.contact-bottom_list {margin-left: 34px;margin-top: 50px;}
.contact-bottom_list li {font-size: 17px;line-height: 30px;}
.contact-bottom_list li:not(:last-child) {margin-bottom: 15px;}
.contact-bottom_form-main {
  padding: 17px 25px 30px;}
  .contact-bottom_form-main p {width: 93%;}
  .contact-bottom_form-title {padding: 23px 0;}

.footer-top {padding: 70px 0 30px;}
.footer_col-content p {padding-right: 0;font-size: 15px;line-height: 28px;}
.footer_col-title .title {font-size: 18px;}
.footer_col-content .footer_link {font-size: 15px;line-height: 30px;}
.footer_col-location .footer_link .text {font-size: 14px;line-height: 24px;}
.footer-copy {padding: 12px 0;}
.footer-copy .footer_copyright p {font-size: 14px;}
/* fdev-sb */
}

@media only screen and (max-width: 991.98px) {  
 
/* fdev-sb */
.custom-header {position: absolute;z-index: 999;background-color: var(--c-white-900);width: 100%;top: 0;}
.header-top {padding: 15px 0;}
.header-top_left .logo {height: 38px;}
.header-top_right {width: 100%;justify-content: center !important;}
.header-top_right li {padding: 0 15px 0;}
.header-top_right li:first-child {width: 30%;}
.header-top_right-link {padding-left: 30px;}
.header-top_right-link span {font-size: 20px;left: 0px;top: 30%;}
.header-top_right-link h6, .header-top_right-link p {font-size: 14px;line-height: 20px;}
.header-nav {padding: 15px 0;}
.header-nav .navbar-collapse {padding: 10px 0;}
.header-nav_link {line-height: 42px;}
.header-nav_link::before, .header-nav_link::after {display: none;}
.header-bottom_button {text-align: center;}

.custom-banner {margin-top: 145.8px;}
.custom-banner .carousel-item img {min-height: 420px;}
.custom-banner_content h2 {font-size: 36px;line-height: 50px;margin-bottom: 10px;}
.custom-banner_content p {font-size: 17px;margin-bottom: 15px;}

.contact-top {padding: 50px 0 !important;}
.contact-top_content {padding-left: 0;text-align: center;}
.contact-top_content-btn {margin-top: 5px;}
.contact-top_content-title h3 {font-size: 22px;line-height: 38px;}
.contact-top_content-link a {font-size: 45px;}
.contact-bottom {max-height: unset;padding: 40px 1rem 60px;}  
.contact-bottom_form {top: unset;width: 100%;}
.contact-bottom_form-main {padding: 27px 25px 35px;box-shadow: 0px 0px 20px 0px rgba(205, 205, 205, 0.75);}
.contact-bottom_form-title {padding: 25px 0;}
.contact-bottom_form-title h3 {font-size: 22px;line-height: 34px;width: 54%;}
.contact-bottom_form-main p {width: 75%;}
.contact-bottom_form-main form .form-control, .contact-bottom_form-main form .form-select {height: 40px;font-size: 14px;}
.contact-bottom_form-main form .form-label {font-size: 14px;line-height: 24px;padding-bottom: 0px;}
.contact-bottom_list {margin: 40px 0 0;}
.contact-bottom_list li {font-size: 16px;line-height: 28px;}
.contact-bottom_list li:not(:last-child) {margin-bottom: 15px;}



.footer-top {padding: 60px 0 26px;}
.footer-top [class*="col-"]:first-child .footer_col {text-align: center;padding-bottom: 35px;}
.footer_col-location {flex-direction: column;gap: 10px;}
.footer_col-logo img {height: 45px;}
.footer_col-content p {margin-top: 20px;line-height: 26px;font-size: 16px;padding: 0;}
.footer_col-content .footer_link {font-size: 16px;line-height: 32px;}
.footer-copy {padding: 10px 0;}
.footer-copy .footer_copyright p {font-size: 14px;}
/* fdev-sb */
}


@media (max-width: 767.98px){

/* fdev-sb */
.header-top_left .logo {height: 35px;}
.header-top_right {justify-content: end !important;}
.header-top_right li {padding: 0 10px 0;}
.header-top_right li:first-child {width: unset;}
.header-top_right-link span {top: 50%;}
.header-nav {padding: 10px 0;}

.custom-banner {margin-top: 95.8px;}
.custom-banner .carousel-item img {min-height: 300px;}
.custom-banner_content h2 {font-size: 32px;line-height: 42px;margin: 0 auto 6px;}
.custom-banner_content p {font-size: 15px;margin-bottom: 12px;}
.custom-banner_content {left: 0;right: 0;text-align: center;margin: 0 auto;width: fit-content;background-color: rgba(255, 255, 255, 0.52);box-shadow: 0px 0px 55px rgba(255, 255, 255, 0.92);}

.contact-top {padding: 40px 0 !important;}
.contact-top_content-link a {font-size: 35px;}
.contact-top_content-title h3 {font-size: 18px;}
.contact-bottom {padding: 30px 10px 50px;}
.contact-bottom_form-title {padding: 20px 0;}
.contact-bottom_form-title h3 {font-size: 20px;line-height: 29px;width: 57%;}
.contact-bottom_form-main p {width: 86%;}
.contact-bottom_form-main form .form-label.invisible {display: none;}
.contact-bottom_form-main form .form-control, .contact-bottom_form-main form .form-select {height: 36px;}
.contact-bottom_form-main form [class*="col-"] {margin-top: 15px;}

.footer-top {padding: 50px 0 20px;}
.footer-top .footer_col {text-align: center}
.footer-top [class*="col-"]:not(:last-child) .footer_col {padding-bottom: 26px !important;}
.footer_col-logo img {height: 40px;}
.footer_col-title {margin-bottom: 18px;padding-bottom: 11px;}
.footer_col-title::before, .footer_col-title::after {left: 50%;transform: translateX(-50%);}
.footer_col-title .title {font-size: 18px;}
.footer_col-socials {justify-content: center;}
.footer_col-location {padding-bottom: 15px;}
.footer_col-location .footer_link {padding-left: 0;}
.footer_col-location .footer_link span {position: relative;top: 0;}
.footer_col-location .footer_link .text {font-size: 15px;line-height: 23px;width: 70%;margin: 0 auto;}
/* fdev-sb */
}

@media (max-width: 575.98px){
.custom-button {height: 38px;}
/* fdev-sb */
.header-top_left .logo {height: 30px;}
.header-top_right li {padding: 0 5px 0;}
.header-top_right-link span {font-size: 18px;}

.custom-banner .carousel-item img {min-height: 290px;object-position: 80%;}
.custom-banner_content {background-color: rgba(255, 255, 255, 0.72);}
.custom-banner_content h2 {font-size: 28px;line-height: 32px;width: 82%;margin: 0 auto 8px;}
.custom-banner_content p {font-size: 15px;margin-bottom: 10px;line-height: 23px;}

.contact-top {padding: 25px 0 !important;}
.contact-top_content-link a {font-size: 25px;}
.contact-top_content-title h3 {font-size: 16px;}
.contact-bottom {padding: 20px 0px 40px;}
.contact-bottom_form-title h3 {
  font-size: 17px;
  line-height: 27px;
  width: 83%;
}
.contact-bottom_form-title {
  padding: 15px 0;
}
.contact-bottom_form-main {
  padding: 17px 15px 25px;}
  .contact-bottom_form-main p {
    width: 100%;
  font-size: 14px;
  line-height: 24px;}
  .contact-bottom_form-main form .form-control, .contact-bottom_form-main form .form-select {
    height: 34px;
    padding-left: 10px;
  font-size: 13px;}
  .contact-bottom_form-main form .form-label {
    font-size: 13px;
  margin-bottom: 5px;}
  .contact-bottom_form-main form .custom-button {
    margin-top: 0px;}
    .contact-bottom_list {
      margin: 25px 0 0;}
      .contact-bottom_list li {
        font-size: 15px;
        line-height: 26px;
      padding-left: 25px;}
      .contact-bottom_list li::before {font-size: 16px;}

.footer-top {padding: 40px 0 15px;}
.footer_col-logo img {height: 36px;}
.footer-copy {padding: 15px 0;}
.footer-copy .footer_copyright p {font-size: 13px;line-height: 20px;}
/* fdev-sb */
}

@media only screen and (max-width: 480.98px) {	
    
}

