  /*----------about-start------------*/
  /*.about-us .about-image-wrap.d-flex.align-items-center {
    gap: 0 20px;
  }*/
  .about-us .about-img img {
    width: 100%;
  }
  .about-us .about-content-wrap {
    padding-left: 82px;
  }
  .about-us .about-custom-button {
    margin-top: 35px;
  }
  .about-us .custom-heading {
    margin-bottom: 15px;
  }
  .about-us .about-content-wrap .custom-paragraph p:nth-child(2) {
    padding: 15px 0;
  }
  .about-us .custom-paragraph p {
    color: var(--c-grey-800);
  }
  .about-us {
    background-image: url(../images/about-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .about-us .about-img {
    position: relative;
  }
  .about-image-wrap.d-flex.align-items-center {
    gap: 0 15px;
  }
  .about-us .about-image-small {
    position: absolute;
    left: -100px;
    top: 255px;
    bottom: 200px;
  }
  /*----------about-end------------*/
  /*---------the-best-start--------*/
  .the-best .the-best-content-wrap .custom-paragraph p:nth-child(2) {
    padding: 15px 0;
  }
  .the-best .the-best-content-wrap .custom-paragraph p:nth-child(3) {
    padding: 0 0 15px 0;
  }
  .the-best .custom-paragraph p {
    color: var(--c-grey-800);
  }
  .the-best .custom-heading {
    margin-bottom: 15px;
  }
  .the-best .the-best-custom-button {
    margin-top: 35px;
  }
  .the-best .the-best-content-wrap {
    padding-right: 50px;
  }
  .best-img{
    position: relative;
  }
  .best-img img{
    width: 100%;
  }
  .the-best .best-img-video img {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: auto;
  }
  /*---------the-best-end--------*/
  /*---------cta-start-----------*/
  .cta{
    background-image: url(../images/professional-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  .cta .custom-button-alt {
    margin-top: 35px;
  }
  .sub-heading-wht{
    color: var(--c-white-800);
  }
  .heading-wht{
    color: var(--c-white-800);
  }
  .custom-button-alt{
    background-color: var(--c-white-800);
    color: var(--c-primary);
    border: 2px solid var(--c-white-800);
  }
  .custom-button-alt:hover{
    background-color: var(--c-primary);
    color: var(--c-white-800);
    border: 2px solid var(--c-primary);
  }
   /*---------cta-end-----------*/
  /*----------gallery-start--------*/
  .gallery {
    text-align: center;
  }
  .gallery .gallery-custom-img img {
    width: 100%;
  }
  .gallery .custom-heading {
    margin-bottom: 60px;
  }
  .gallery .gallery-custom-button {
    margin-top: 60px;
  }
  /*----------gallery-end--------*/


/*----------Responsive-Start------------*/
@media (min-width: 1920px) and (max-width: 2500px){
	
}

@media (min-width: 1600px) and (max-width: 1920px){
	
}

@media (min-width: 1200px) and (max-width: 1600px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    

}


@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}

@media only screen and (max-width: 480.98px) {	
    
}
/*----------Responsive-End------------*/
