/******** Google Fonts ********/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Prata&display=swap');

/******** Color Schemes ********/
:root {
  --c-primary: #4e79ae;
  --c-blue-alt : #625c90;

  --c-blue-600 : #41484e;

  --c-white-900: #ffffff;
  --c-white-800: #f1f4f6;
  --c-white-700: #e6e6e6;

  --c-black-900: #000;
  --c-black-800: #232323;
  --c-black-700: #292929;
  --c-grey-800: #616161;

  --ff-primary: 'Prata', serif;
  --ff-secondary: 'DM Sans', sans-serif;

}

/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  color: var(--c-black-800);
  font-family: var(--ff-secondary);
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-secondary);
  font-size: 14px;
  color: var(--c-black-800);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

h4, h5, h6 {
  font-family: var(--ff-secondary);
}

/******** Utility Classes ********/

.container {
  max-width: 1440px;
}
.container-alt  {
  max-width: 1566px;
}

/******** Custom Properties ********/
.custom-pad {
  padding: 110px 0;
}


/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-start=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
.navbar-default .navbar-toggler .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggler {
  border-color: #5f4b8b;
  background: #5f4b8b;
  outline: none;
}

.navbar-toggler {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: var(--c-primary);
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-header {
  display: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-end=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------custom-heading-button-start----------*/
.sub-heading {
  font-size: 14px;
  color: var(--c-primary);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 56px;
  word-spacing: 2px;
  font-family: var(--ff-secondary);
  margin-bottom: 10px;
}
.heading {
  font-size: 45px;
  font-weight: 400;
  line-height: 66px;
  color: var(--c-black-700);
}
.custom-button{
  background-color: var(--c-primary);
  color: var(--c-white-900);
  padding: 0 67px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  display: inline-flex;
  border: 2px solid var(--c-primary);
  transition: all 0.3s ease-in-out;
  height: 52px;
  align-items: center;
}
.custom-button:hover{
  background-color: transparent;
  color: var(--c-primary);
}
/*-------custom-heading-button-end----------*/